<div *ngIf="development">
  <div class="row">
    <div class="col-md-12">
      <h2><em>{{ development.properties.date_issued }}</em>  {{ development.properties.reference_no }}<small> {{ development.properties.application_title }} - {{ development.properties.get_use_display }} development in {{ development.properties.province }}</small></h2>
      <p>Permits: <span *ngFor="let opt of development.properties.permits_display" >
        <span class="btn btn-sm btn-info">{{ opt }}</span> </span></p>  
      <hr>
      Unique ID: {{ development.properties.unique_id }}<br>
      Use: {{ development.properties.use }}<br>
      Authority: {{ development.properties.authority }}<br>
      <br>
      
      Applicant: {{ development.properties.applicant }}<br>
      Application title: {{ development.properties.application_title }}<br>
      Activity description: {{ development.properties.activity_description }}<br>
      <br>
      
      Case officer: {{ development.properties.case_officer }}<br>
      Environmental consultancy: {{ development.properties.environmental_consultancy }}<br>
      EAP: {{ development.properties.environmental_assessment_practitioner }}<br>
      Location description: {{ development.properties.location_description }}<br>
      
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div leaflet style="height: 300px;" [leafletOptions]="options" [leafletLayers]="layers"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h3>Development impacts</h3>      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Area (ha)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of objectKeys(development.properties.geo_info)">
            <td>{{ development.properties.geo_info[key].type }}</td>
            <td>{{ key }}</td> 
            <td>{{ development.properties.geo_info[key].status }}</td>
            <td>{{ development.properties.geo_info[key].area }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <h3>Offset impacts <button class="btn btn-sm btn-outline-success" (click)="open(content)"><i class="fa fa-plus" aria-hidden="true"> </i> Add new</button></h3>
      <div *ngIf="offsets">
        <span *ngFor="let offset of offsets.features" >
          Offset type: {{ offset.properties.get_type_display }}<br>
          <span *ngFor="let key of objectKeys(offset.properties.info)" >
            <strong>{{ key }}</strong>: {{ offset.properties.info[key].area }} ha, <br>
          </span>
          <hr>
        </span>
      </div>  
    </div>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
    
  <div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Add new offset</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dynamic-form *ngIf="questions" [questions]="questions"  (formSubmit)="onSubmitF($event)"></dynamic-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
  </div>
</div>
