<div class="row">
  <div class="col-12">
    <div *ngIf="development">
      <h2>{{development.properties.year}} details!</h2>
      <div><label>id: </label>{{development.properties.id}}</div>
      
      <div leaflet style="height: 300px;" [leafletOptions]="options" [leafletLayers]="layers">
      </div>
            
      <div>
        <label>year: </label>
        <input [(ngModel)]="development.properties.year" placeholder="year"/>
      </div>
      <button (click)="goBack()">Back</button>
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>