<div [formGroup]="form" class="form-group row">
  <label [attr.for]="question.key" class="col-sm-2 col-form-label">{{question.label}}</label>

  <div [ngSwitch]="question.controlType" class="col-sm-10">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type" class="form-control" >
            
    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" class="form-control" >
      <option *ngFor="let opt of question.choices" [value]="opt.value">{{opt.display_name}}</option>
    </select>
      
    <label class="custom-file" *ngSwitchCase="'geojson'">
      <input type="file" [id]="question.key" class="custom-file-input" (change)="onChange($event, $layers, $options)">
      <span class="custom-file-control"></span>
      <div *ngIf="showLeaflet" class="alert alert-danger">Geojson file plotted on map below. Upload a new file to override. </div>
    </label>
    
    <small class="form-text text-muted" *ngIf="!isValid">{{question.label}} is required</small>
    <small class="form-text text-muted" *ngIf="!isValid">{{question.help_text}}</small>
  </div> 
</div>
  
<div class="row" *ngIf="question.controlType=='geojson'"><div *ngIf="showLeaflet" [@fadeInOut] class="col-sm-10 offset-sm-2">
    <div leaflet style="height: 300px;" [leafletOptions]="options" [leafletLayers]="layers" [leafletCenter]="center"></div>
</div></div>