<div *ngIf="developments">
  <div class="row">
    <div class="col-12">
        <div style="overflow: auto; margin-bottom: 15px; padding: 15px; background-color: #e3f2fd;">
          <form class="form-inline my-2 my-lg-0" style="float: left;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn my-2 my-sm-0 btn-outline-primary" type="submit">Search</button>
          </form>
          <span style="display: block; float: right;">
            <a class="btn my-2 my-sm-0 btn-outline-primary" [routerLink]="['/create']"> <i class="fa fa-plus " aria-hidden="true"> </i> Add development</a>
          </span>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><div class="col-md-12"><div leaflet style="height: 300px;" [leafletOptions]="options" [leafletLayers]="layers"></div></div></div>
    <div class="col-md-12">
      <table class="table">
        <thead>
           <tr>
              <th scope="col">Reference #</th>
              <th scope="col">Year</th>
              <th scope="col">Province</th>
              <th scope="col">Title</th>
              <th scope="col">&nbsp;</th>
              <th scope="col">&nbsp;</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let dev of developments">
              <td>{{ dev.properties.reference_no }}</td>
              <td>{{ dev.properties.date_issued }}</td> <!-- TODO change to year format -->
              <td>{{ dev.properties.province }}</td>
              <td>{{ dev.properties.application_title }}</td>
              <td><a [routerLink]="['/detail', dev.id]"  class="btn btn-sm btn-outline-primary"><i class="fa fa-eye" aria-hidden="true"> </i> View</a></td>
              <td><button class="btn btn-sm btn-outline-danger" (click)="open(content, dev.id)"><i class="fa fa-trash-o" aria-hidden="true"> </i> Delete</button></td>
           </tr>
         </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--<div class="modal-body"></div>-->
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-danger" (click)="delete(devID); c('Close click')"><i class="fa fa-trash-o" aria-hidden="true"> </i> Delete</button>
    <button type="button" class="btn btn-sm btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>